/* @font-face {
  font-family: 'Helvetica-CE';
  src: url('/public/Helvetica-CE-Bold.otf');
  font-weight: normal;
} */
/* @font-face {
  font-family: 'Helvetica';
  src: url('/public/Helvetica-Ultra-Compressed.otf');
  font-weight: normal;
} */
@font-face {
  font-family: 'Helvetica-CE';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
    format('woff2');
}
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v25/1Ptgg87LROyAm3Kz-C8.woff2)
    format('woff2');
  font-weight: 100 !important;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#cardEffect {
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 55%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0) 100%
  );
  background-position-x: 120%;
  background-size: 200% 200%;
}
#card {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 20px 100px -10px;
}
#root,
html,
body {
  color: black;
  background-color: black;
  scroll-behavior: initial;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply m-0 leading-[normal];
  height: 100%;
  width: 100%;
  overscroll-behavior: contain;
}

*,
::before,
::after {
  border-width: 0;
  box-sizing: border-box;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
a {
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
h1,
h2,
h3 {
  font-size: 1.5rem;
  font-weight: 100;
}
.overflow-y-scroll::-webkit-scrollbar {
  width: 11px;
}
.overflow-y-scroll {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
}
.overflow-y-scroll::-webkit-scrollbar-track {
  background: #000;
}
.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #000;
}

.track-image {
  will-change: width;
  backface-visibility: hidden;
  transform: translateZ(0px);
}
.slide-track {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0px);
}

.track-image:hover .track-link {
  opacity: 0;
}

.track-image .track-link {
  backdrop-filter: grayscale(100%);
}

.grid-image {
  background-image: linear-gradient(
      rgba(64, 64, 64, 1) 0.3vh,
      transparent 0.3vh
    ),
    linear-gradient(90deg, rgba(64, 64, 64, 1) 0.3vh, transparent 0.3vh);
  background-size: 4vh 4vh;
  background-repeat: repeat;
}
