@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica-CE";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2)
    format("woff2");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v25/1Ptgg87LROyAm3Kz-C8.woff2)
    format("woff2");
  font-weight: 100 !important;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-family: Helvetica-CE, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas {
  /* clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); */
  transition: clip-path 0.5s ease-out;
  /* animation: open 1s cubic-bezier(0.87, 0, 0.13, 1) forwards; */
  background-color: #111111;
}
/* 
@keyframes open {
  0% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overscroll-behavior-y: contain;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  /* overscroll-behavior-y: contain;
  overscroll-behavior-x: contain; */

  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

/* #root {
  overflow-y: scroll;
  max-height: 100%;
} */

.animate-opacity {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .parent {
  filter: url("#goo");
  overflow: hidden;
  position: fixed;
  z-index: 1;
} */

h1,
h2,
h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

.stroke-outline {
  paint-order: stroke fill;
}

#anim-loading {
  animation: loading 10s forwards;
  left: 50%;
}

@keyframes loading {
  0% {
    top: 0%;
    transform: translate(-50%, 0%);
  }
  100% {
    top: 100%;
    transform: translate(-50%, -100%);
  }
}
